repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.2
  hooks:
    - id: ruff-check
      args: ["--fix"]
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
  - id: mypy
    name: Run MyPy typing checks.
    args: ["--ignore-missing-imports", "--install-types", "--non-interactive"]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    - id: trailing-whitespace
      files: '\.html?$'
- repo: local
  hooks:
  - id: no-todos
    name: Forbid TODOs
    entry: "TODO"
    language: pygrep
    types: [python]
- repo: local
  hooks:
  - id: gitchangelog
    language: system
    always_run: true
    pass_filenames: false
    name: Generate changelog
    entry: bash -c "gitchangelog > CHANGELOG.md"
    stages: [commit]
- repo: local
  hooks:
  - id: forbid_prints
    name: Check for leftover print statements.
    types: [python]
    entry: "print\\s*\\("
    language: pygrep
