name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pre-commit-hooks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
      - uses: actions/checkout@v2
      - run: pip install pre-commit
      - run: pre-commit run -a --hook-stage=manual

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        django-version: ["2.2", "3.2", "4.0"]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        exclude:
          - python-version: "3.7"
            django-version: "4.0"
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v2
      - run: |
          python setup.py develop
          python -m pip install django~=${{ matrix.django-version }}
      - run: python loginas/tests/manage.py test tests --verbosity=2
